* {
    box-sizing: border-box;
}

body,h1 {
    font-family: "Raleway", sans-serif
}

body, html {
    height: 100%
}
 
.bgimg {
    background-image: url('background.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
      /*background-image: linear-gradient(rgba(192, 192, 192, 0.3), rgba(192, 192, 192, 0.3)), url("background.jpg");*/
}



